@media only screen and (max-width: 600px) {
  .text-h1 {
    font-size: 80px;
  }
  .text1-h1-1 {
    top: 40%;
  }
  .text1-h1-2 {
    top: 50%;
  }
  .text1-h1-2 bold {
    font-size: 100px;
  }
  .text-p {
    width: 80%;
    font-size: 28px;
  }
  p bold {
    font-size: 24px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .text-p {
    font-size: 26px;
  }
  p bold {
    font-size: 26px;
  }
  .text-h1 {
    font-size: 100px;
  }
  .text1-h1-2 bold {
    font-size: 140px;
  }
}
@media only screen and (max-width: 800px) {
  .color-select {
    top: 80%;
    left: 90%;
    transform: translate(-90%, -80%);
    width: 20px;
    height: 130px;
  }
  .menu-container {
    width: 44px;
    height: 44px;
    position: fixed;
    left: 10%;
    top: 20%;
    transform: translate(-10%, -20%);
    transition: display 0.5s;
  }
}

@media only screen and (min-width: 992px) {
  .text-p {
    font-size: 35px;
  }
  p bold {
    font-size: 36px;
  }
}
