.color1-border {
  border-color: var(--changeColor1);
}
.color2-border {
  border-color: var(--changeColor2);
}
.color3-border {
  border-color: var(--changeColor3);
}
.color4-border {
  border-color: var(--changeColor4);
}
.color1 {
  background-color: var(--changeColor1);
}
.color2 {
  background-color: var(--changeColor2);
}
.color3 {
  background-color: var(--changeColor3);
}
.color4 {
  background-color: var(--changeColor4);
}
